#container {
	margin: 20px auto;
	width: 1020px;
}

#transactions {
	position: relative;
	float: left;
	margin: 0;
	margin-right: 20px;
	width: 500;
	height: 550px;
}

#categories {
	position: relative;
	float: left;
	width: 500;
	height: 270px;
}

#categoriesList {
	float: left;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

#categoryEditShadow, #transactionEditShadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	display: none;
	z-index: 50;
	border-radius: 10px;
	opacity: .65;
}

#categoryEdit {
	position: absolute;
	top: 25px;
	left: 25px;
	border: 1px solid black;
	width: 450px;
	height: 220px;
	display: none;
	z-index: 100;
}

#transactionEdit {
	position: absolute;
	top: 25px;
	left: 25px;
	border: 1px solid black;
	width: 450px;
	display: none;
	z-index: 100;
}

#pizzaMoney {
	margin-top: 10px;
	float: left;
	background: url(../pizza.svg) center center no-repeat;
	width: 500;
	height: 270px;
}

#pizzaMoney, #categories, #transactions, #categoryEdit, #transactionEdit {
	border-radius: 10px;
	background-color: hsl(0,0%,90%);
}

.color_box {
	-webkit-transition: transform 2s; /* Safari */
	transition: transform 2s;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	float: left;
	margin: 10px;
}

.color_box.selected {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari */
	transform: scale(1.2); /* Standard syntax */
}
.table_row {
	position: relative;
	width:472px;
	height:20px;
	line-height: 20px;
	text-align: center;
	font-size: 15px;
	padding: 0 10px;
	border-radius: 5px
}

.line {
	 float:left;
	 width: 96%;
	 margin: 2 2% 0 2%;
}

td {
	padding:0 4px;
	position:static;
}

input.currency::before {
	content: "$"; // Will have to update this for localizations
}
